@charset "utf-8";

.profile {
  display: inline-block;
  width: 100%;
}

.profile img {
  position: absolute;
  width: 15%;
  margin: 1vw 1vw;
}

.profile p {
  font-size: 5vw;
  text-align: center;
}

/* --- ナビゲーションバー --- */

div.nav {
  width: 100%;
  /* ナビゲーションの幅 */
  background: #f9f9f9 url(../img/off.gif) repeat-x top;
  /* ナビゲーションの背景 */
  border-top: 1px #cccccc solid;
  /* 上境界線 */
  border-bottom: 1px #cccccc solid;
  /* 下境界線 */
  font-size: 80%;
}

/* --- メニューエリア --- */

div.nav ul.nl {
  width: 350px;
  /* メニューの幅 */
  margin: 0 auto;
  /* センターに配置 */
  padding: 0;
  background: #f9f9f9 url(../img/off.gif) repeat-x top;
  /* メニューの背景 */
  border-left: 1px #cccccc solid;
  /* メニューの左境界線 */
  border-right: 1px #ffffff solid;
  /* メニューの右境界線 */
  list-style-type: none;
  text-align: center;
}

/* --- メニュー項目 --- */

div.nav ul.nl li {
  width: 20%;
  /* 項目の幅 */
  float: left;
}

/* --- リンク --- */

div.nav ul.nl li a {
  display: block;
  position: relative;
  /* IE6用 */
  padding: 11px 2px;
  /* リンクエリアのパディング（上下、左右） */
  border-top: 1px #ffffff solid;
  /* リンクエリアの上境界線 */
  border-bottom: 1px #808080 solid;
  /* リンクエリアの下境界線 */
  border-left: 1px #ffffff solid;
  /* リンクエリアの左境界線 */
  border-right: 1px #cccccc solid;
  /* リンクエリアの右境界線 */
  text-decoration: none;
  /* テキストの下線（なし） */
}

/* --- ポイント時の設定 --- */

div.nav ul.nl li a:hover {
  background: #f9f9f9 url(../img/on.gif) repeat-x top;
  /* ポイント時の背景 */
  text-decoration: underline;
  /* テキストの下線（あり） */
}

/* --- clearfix --- */

.clearFix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.clearFix {
  min-height: 1px;
}

.inline_img img {
  width: 50px;
  height: 50px;
  margin: 0 0 0 90px;
}

.inline .file {
  margin-top: 120px;
}

#profile_edit {
  width: 60vw;
  margin: 20px auto;
}

#profile_edit .logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#profile_edit .logo p {
  margin: 15px auto;
  font-size: 3vw;
}

#profile_edit form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#profile_edit form .inline {
  display: inline-block;
  margin-bottom: 1.6vw;
  height: 40px;
  width: 262px;
}

#profile_edit form .inline .userID {
  margin: 0 0 2px 0;
}

#userID form .inline {
  width: 337px;
  height: 90px;
}

#profile_edit form .inline_img {
  display: inline-block;
  margin-bottom: 1.8vw;
  width: 262px;
  height: 90px;
}

#profile_edit form .inline_img label {
  font-size: 2.5vw;
  width: 10vw;
  display: inline-block;
  vertical-align: bottom;
}

#profile_edit form .inline label {
  font-size: 2.5vw;
  width: 70px;
  display: inline-block;
  vertical-align: bottom;
}

#profile_edit form .inline .password {
  margin: 0 0 2px 0;
}

#profile_edit form .inline .name {
  margin: 0 0 1px 0;
}

#userID form .inline label {
  width: 100px;
}

#profile_edit form .inline .comment {
  margin-bottom: 25px;
}

#profile_edit form .inline_img label[for="file"] {
  width: 20vw;
  color: white;
  background-color: #707070;
  padding: 6px;
  border-radius: 0;
}

#profile_edit form .inline_img label[for="file"].hide {
  background: none;
}

#profile_edit form .inline input {
  font-size: 2.5vw;
  width: 48vw;
  height: 3.6vw;
  border: 1px solid;
}

#profile_edit form .inline_img input {
  font-size: 1.5vw;
  width: 20vw;
  height: 1.6vw;
  border: 1px solid;
}

#profile_edit form .inline_img .file {
  margin-left: 76px;
  width: 48vw;
  height: 20px;
  cursor: pointer;
}

#profile_edit form .inline_img input[type="file"].hide {
  display: none;
}

#profile_edit form .inline textarea {
  font-size: 2.5vw;
  width: 47vw;
  height: 12vw;
  border: 2px solid;
}

#profile_edit form .inline:after {
  content: "\A";
  white-space: pre;
}

#profile_edit form .inline_img:after {
  content: "\A";
  white-space: pre;
}

#profile_edit form input[type="submit"] {
  font-size: 2vw;
  margin-top: 7vw;
  display: inline-block;
  text-align: center;
  border: solid 3px black;
  padding: 0.8vw 11.1vw;
  border-radius: 0;
  cursor: pointer;
}

#profile_edit form input[type="submit"]:hover {
  filter: brightness(80%);
  cursor: pointer;
}

#profile_edit form input[type="submit"]:active {
  transform: translateY(5px);
  cursor: pointer;
}

.error {
  font-size: 13px;
  font-weight: 400;
  text-align: center;
  color: red;
}

.error p {
  margin: 5px auto;
}
