@charset "utf-8";

body {
  margin: 20px auto;
  text-align: center;
}

.main {
  text-align: center;
}

.error {
  font-weight: 800;
  font-size: 20px;
  color: red;
}

.error p {
  margin-top: 0;
}

/* --- ナビゲーションバー --- */

div.nav {
  width: 100%;
  /* ナビゲーションの幅 */
  background: #f9f9f9 url(../img/off.gif) repeat-x top;
  /* ナビゲーションの背景 */
  border-top: 1px #cccccc solid;
  /* 上境界線 */
  border-bottom: 1px #cccccc solid;
  /* 下境界線 */
  font-size: 80%;
}

/* --- メニューエリア --- */

div.nav ul.nl {
  width: 600px;
  /* メニューの幅 */
  margin: 0 auto;
  /* センターに配置 */
  padding: 0;
  background: #f9f9f9 url(../img/off.gif) repeat-x top;
  /* メニューの背景 */
  border-left: 1px #cccccc solid;
  /* メニューの左境界線 */
  border-right: 1px #ffffff solid;
  /* メニューの右境界線 */
  list-style-type: none;
  text-align: center;
}

/* --- メニュー項目 --- */

div.nav ul.nl li {
  width: 20%;
  /* 項目の幅 */
  float: left;
}

/* --- リンク --- */

div.nav ul.nl li a {
  display: block;
  position: relative;
  /* IE6用 */
  padding: 11px 2px;
  /* リンクエリアのパディング（上下、左右） */
  border-top: 1px #ffffff solid;
  /* リンクエリアの上境界線 */
  border-bottom: 1px #808080 solid;
  /* リンクエリアの下境界線 */
  border-left: 1px #ffffff solid;
  /* リンクエリアの左境界線 */
  border-right: 1px #cccccc solid;
  /* リンクエリアの右境界線 */
  text-decoration: none;
  /* テキストの下線（なし） */
}

/* --- ポイント時の設定 --- */

div.nav ul.nl li a:hover {
  background: #f9f9f9 url(../img/on.gif) repeat-x top;
  /* ポイント時の背景 */
  text-decoration: underline;
  /* テキストの下線（あり） */
}

/* --- clearfix --- */

.clearFix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.clearFix {
  min-height: 1px;
}

.container {
    width: 100%;
    max-width: 350px;
    margin: 30px auto;
}

.comment-form p {
  text-align: center;
  font-size: 23px;
  font-weight: 800;
  margin-bottom: 10px;
}

.comment img {
  margin: 20px auto;
  height: 100px;
  width: 500px;
}

form {
    margin: 30px;
}

input {
    width: 250px;
    margin: 10px auto;
    display: block;
    font-size: 20px;
}

#form {
    width: 350px;
    height: 570px;
    margin: 10px auto;
    padding: 20px;
    border: 3px solid #555;
}

.pay-form {
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
    border-bottom:solid 3px #555;
    text-shadow: 2px 2px 0 #CCCCCC;
    margin-top: 0;
    padding-bottom: 10px;
}

.submit{
    text-align: center;
    margin: 20px 0 0 0;
}

input .submit {
  margin: 0 20px;
}

#form {
  background: #EEEEEE;
  background-image: -webkit-linear-gradient(top, #EEEEEE, Courier New);
  background-image: -moz-linear-gradient(top, #EEEEEE, Courier New);
  background-image: -ms-linear-gradient(top, #EEEEEE, Courier New);
  background-image: -o-linear-gradient(top, #EEEEEE, Courier New);
  background-image: linear-gradient(to bottom, #EEEEEE, Courier New);
  -webkit-border-radius: 6;
  -moz-border-radius: 6;
  border-radius: 6px;
  font-family: Courier New;
  font-size: 20px;
  padding: 20px 20px 20px 20px;
  text-decoration: none;
}

.submit input {
  background: #0099FF;
  background-image: -webkit-linear-gradient(top, #0099FF, #0099FF);
  background-image: -moz-linear-gradient(top, #0099FF, #0099FF);
  background-image: -ms-linear-gradient(top, #0099FF, #0099FF);
  background-image: -o-linear-gradient(top, #0099FF, #0099FF);
  background-image: linear-gradient(to bottom, #0099FF, #0099FF);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  -webkit-box-shadow: 1px 1px 3px #666666;
  -moz-box-shadow: 1px 1px 3px #666666;
  box-shadow: 1px 1px 3px #666666;
  font-family: Courier New;
  color: #ffffff;
  font-size: 16px;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
  cursor: pointer;
  margin: 0 auto;
  width: 150px;
}

.submit input:hover {
  background: #6699FF;
  background-image: -webkit-linear-gradient(top, #6699FF, #6699FF);
  background-image: -moz-linear-gradient(top, #6699FF, #6699FF);
  background-image: -ms-linear-gradient(top, #6699FF, #6699FF);
  background-image: -o-linear-gradient(top, #6699FF, #6699FF);
  background-image: linear-gradient(to bottom, #6699FF, #6699FF);
  text-decoration: none;
  cursor: pointer;
  cursor: hand;
  margin: 0 auto;
  text-shadow: 2px 2px 2px black;
}
