@charset "utf-8";

.profile {
  display: inline-block;
  width: 100%;
}

.profile img {
  position: absolute;
  width: 15%;
  margin: 1vw 1vw;
}

.profile p {
  font-size: 5vw;
  text-align: center;
}

/* --- ナビゲーションバー --- */

div.nav {
  width: 100%;
  /* ナビゲーションの幅 */
  background: #f9f9f9 url(../img/off.gif) repeat-x top;
  /* ナビゲーションの背景 */
  border-top: 1px #cccccc solid;
  /* 上境界線 */
  border-bottom: 1px #cccccc solid;
  /* 下境界線 */
  font-size: 80%;
  margin: 5px 0 0 5px;
}

/* --- メニューエリア --- */

div.nav ul.nl {
  width: 600px;
  /* メニューの幅 */
  margin: 0 auto;
  /* センターに配置 */
  padding: 0;
  background: #f9f9f9 url(../img/off.gif) repeat-x top;
  /* メニューの背景 */
  border-left: 1px #cccccc solid;
  /* メニューの左境界線 */
  border-right: 1px #ffffff solid;
  /* メニューの右境界線 */
  list-style-type: none;
  text-align: center;
}

/* --- メニュー項目 --- */

div.nav ul.nl li {
  width: 20%;
  /* 項目の幅 */
  float: left;
}

/* --- リンク --- */

div.nav ul.nl li a {
  display: block;
  position: relative;
  /* IE6用 */
  padding: 11px 2px;
  /* リンクエリアのパディング（上下、左右） */
  border-top: 1px #ffffff solid;
  /* リンクエリアの上境界線 */
  border-bottom: 1px #808080 solid;
  /* リンクエリアの下境界線 */
  border-left: 1px #ffffff solid;
  /* リンクエリアの左境界線 */
  border-right: 1px #cccccc solid;
  /* リンクエリアの右境界線 */
  text-decoration: none;
  /* テキストの下線（なし） */
}

/* --- ポイント時の設定 --- */

div.nav ul.nl li a:hover {
  background: #f9f9f9 url(../img/on.gif) repeat-x top;
  /* ポイント時の背景 */
  text-decoration: underline;
  /* テキストの下線（あり） */
}

/* --- clearfix --- */

.clearFix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.clearFix {
  min-height: 1px;
}

.profilecard {
  width: 38vw;
  margin: 3vw auto;
  padding: 1vw;
  background-color: #EEEEEE;
  border: solid 10px #f7b52c;
}

.profile-header {
  display: flex;
}

.profile-header img {
  width: 25%;
  height: 25%;
}

.profile-header p {
  margin-left: 20px;
}

.profile-header p a img {
  width: 20px;
  height: 12px;
  margin-left: 5px;
}

p span {
  display: inline-block;
}

p span .user-name {
  margin-top: 7vw;
  margin-left: 1vw;
  font-size: 5vw;
  word-break: break-all
}

a img .edit {
  margin-left: 1vw;
  width: 2vw;
  height: auto;
}

a :hover {
  filter: brightness(40%);
}

.profile-content {
  margin: 1vw 0;
  text-align: center;
}

.profile-content p {
  padding: 1vw;
  line-height: 1.4;
  font-weight: 400;
}

.profilecard .fixed {
  margin-top: 80px;
}

.stream {
  width: 38vw;
  margin: 0 auto;
}

.content {
  margin-top: 2vw;
  background-color: #EEEEEE;
}

.stream-header {
  display: flex;
}

.stream-header img {
  margin: 1vw 1vw;
  width: 6vw;
  height: 6vw;
}

.stream-header p {
  margin-left: 5px;
}

span {
  display: inline-block;
  font-size: 3vw;
}

p .tweet-time {
  font-size: 0.8vw;
  float: right;
  margin: 0 0 0 5vw;
}

p .user-name {
  margin: 0 0 0 0.5vw;
}

.inline {
  display: flex;
}

.outline {
  display: flex;
}

.stream-content {
  width: 100%;
}

.stream-content p {
  text-align: center;
}

.stream-footer {
  width: 15%;
  margin-top: 5vw;
  margin-bottom: 1vw;
}

.stream.fixed {
  margin-top: 65px;
}

.stream-delete {
  margin-top: 2vw;
  margin-left: 8vw;
  margin-bottom: 1vw;
  margin-right: 3vw;
  display: flex;
}

a.cp_btn {
  display: block;
  font-size: 15px;
  font-weight: 400;
  width: 30px;
  padding: 0.3em;
  text-align: center;
  text-decoration: none;
  color: #6091d3;
  border: 2px solid #6091d3;
  border-radius: 3px;
  transition: .4s;
}

a.cp_btn:hover {
  background: #AAAAAA;
  color: #fff;
}

#top_scroll {
  position: relative;
  z-index: 100;
  margin: 0;
  padding: 0;
}

#page-top1 {
  display: block;
  position: fixed;
  z-index: 9999;
  bottom: -250px;
  right: 10px;
  width: 35px;
  height: 35px;
  padding: 0;
  color: #222;
  text-align: center;
  text-decoration: none;
  transition: 1s;
  -webkit-transition: 1s;
}

#page-top1:hover {
  background: ;
  transform: translateY(-10px);
}

#top_scroll:hover {
  background: #fff;
}

.square_btn {
  position: relative;
  display: inline-block;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #FFF;
  background: #4646ff;
  border-bottom: solid 2px #1e1eff;
  border-radius: 4px;
  box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
  font-weight: bold;
}

.square_btn:active {
  border-bottom: solid 2px #4646ff;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
}
