@charset "UTF-8";

body {
  margin: 20px 0 0 0;
  background-image: url('../img/map.jpeg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.main {
  text-align: center;
  font-size: 15px;
  font-weight: 400;
}

.text {
  font-size: 18px;
  border-bottom: solid 3px white;
}

.text_top {
  margin-bottom: 10px;
}

.main img {
  margin: 30px auto;
}

.check {
  text-shadow: 1px 1px black;
}

.passwd_content {
  margin-top: 20px;
}

.passwd_text {
  margin: 0 auto;
  margin-bottom: 5px;
}

.passwd {
  margin: 0 auto;
  margin-bottom: 5px;
}

.passwd_again {
  margin: 0 auto;
  margin-bottom: 5px;
}

.passwd_again_text {
  margin: 0 auto;
  margin-bottom: 5px;
}

input[type='password'] {
  width: 335px;
  padding: 4px;
  font-size: 13px;
}

.submit {
  margin: 30px 0 10px 0;
}

.content {
  background:#c0c0c0;
  background-image: -webkit-linear-gradient(top, #c0c0c0, Courier New);
  background-image: -moz-linear-gradient(top, #c0c0c0, Courier New);
  background-image: -ms-linear-gradient(top, #c0c0c0, Courier New);
  background-image: -o-linear-gradient(top, #c0c0c0, Courier New);
  background-image: linear-gradient(to bottom, #c0c0c0, Courier New);
  -webkit-border-radius: 6;
  -moz-border-radius: 6;
  border-radius: 6px;
  font-family: Courier New;
  color: #ffffff;
  font-size: 20px;
  padding: 20px 20px 20px 20px;
  text-decoration: none;
  width: 420px;
  margin: 0 auto;
  padding: 10px;
  border: 1px solid #555;
}

.submit input {
  background: #0099FF;
  background-image: -webkit-linear-gradient(top, #0099FF, #0099FF);
  background-image: -moz-linear-gradient(top, #0099FF, #0099FF);
  background-image: -ms-linear-gradient(top, #0099FF, #0099FF);
  background-image: -o-linear-gradient(top, #0099FF, #0099FF);
  background-image: linear-gradient(to bottom, #0099FF, #0099FF);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  -webkit-box-shadow: 1px 1px 3px #666666;
  -moz-box-shadow: 1px 1px 3px #666666;
  box-shadow: 1px 1px 3px #666666;
  font-family: Courier New;
  color: #ffffff;
  font-size: 13px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  cursor: pointer;
  cursor: hand;
  margin: 0 20px;
}

.submit input:hover {
  background: #6699FF;
  background-image: -webkit-linear-gradient(top, #6699FF, #6699FF);
  background-image: -moz-linear-gradient(top, #6699FF, #6699FF);
  background-image: -ms-linear-gradient(top, #6699FF, #6699FF);
  background-image: -o-linear-gradient(top, #6699FF, #6699FF);
  background-image: linear-gradient(to bottom, #6699FF, #6699FF);
  text-decoration: none;
  cursor: pointer;
  cursor: hand;
  margin: 0 20px;
  text-shadow: 2px 2px 2px black;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 100px;
  background-color: #EEEEEE;
  opacity: 0.8;
}

.info img.world {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 120px;
}

.info img {
  width: 200px;
  margin: 25px 25px 0 25px;
}

.info h2 {
  text-align: right;
  margin-right: 10px;
  font-size: 13px;
  float: right;
  margin-top: 40px;
}

footer p {
  text-align: left;
  margin-right: 0;
  margin-left: 70px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 15px;
  padding: 0;
  width: 150px;
}

.error {
  margin: 0 auto;
  font-size: 18px;
  color: red;
  font-weight: 600;
  text-shadow: none;
}
