@charset "UTF-8";

body {
  background: url(/static/img/map.jpeg) no-repeat 100%;
  background-size: contain;
}

.main {
  text-align: center;
}

.profile {
  display: inline-block;
  width: 100%;
}

.profile img {
  position: absolute;
  width: 15%;
  margin: 1vw 1vw;
}

.profile p {
  font-size: 5vw;
  text-align: center;
}

/* --- ナビゲーションバー --- */

div.nav {
  width: 100%;
  /* ナビゲーションの幅 */
  background: #f9f9f9 url(../img/off.gif) repeat-x top;
  /* ナビゲーションの背景 */
  border-top: 1px #cccccc solid;
  /* 上境界線 */
  border-bottom: 1px #cccccc solid;
  /* 下境界線 */
  font-size: 80%;
}

/* --- メニューエリア --- */

div.nav ul.nl {
  width: 600px;
  /* メニューの幅 */
  margin: 0 auto;
  /* センターに配置 */
  padding: 0;
  background: #f9f9f9 url(../img/off.gif) repeat-x top;
  /* メニューの背景 */
  border-left: 1px #cccccc solid;
  /* メニューの左境界線 */
  border-right: 1px #ffffff solid;
  /* メニューの右境界線 */
  list-style-type: none;
  text-align: center;
}

/* --- メニュー項目 --- */

div.nav ul.nl li {
  width: 20%;
  /* 項目の幅 */
  float: left;
}

/* --- リンク --- */

div.nav ul.nl li a {
  display: block;
  position: relative;
  /* IE6用 */
  padding: 11px 2px;
  /* リンクエリアのパディング（上下、左右） */
  border-top: 1px #ffffff solid;
  /* リンクエリアの上境界線 */
  border-bottom: 1px #808080 solid;
  /* リンクエリアの下境界線 */
  border-left: 1px #ffffff solid;
  /* リンクエリアの左境界線 */
  border-right: 1px #cccccc solid;
  /* リンクエリアの右境界線 */
  text-decoration: none;
  /* テキストの下線（なし） */
}

/* --- ポイント時の設定 --- */

div.nav ul.nl li a:hover {
  background: #f9f9f9 url(../img/on.gif) repeat-x top;
  /* ポイント時の背景 */
  text-decoration: underline;
  /* テキストの下線（あり） */
}

/* --- clearfix --- */

.clearFix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.clearFix {
  min-height: 1px;
}

.content {
  text-align: center;
  margin: 20px auto;
}

.content .test {
  margin: 10px auto;
  width: 400px;
  height: 90px;
}

.pay_img  img {
  text-align: center;
  margin: 10px auto;
}

.link {
  margin: 10px auto;
}

.submit {
  display: inline-block;
  padding: 7px 20px;
	border-radius: 25px;
  text-decoration: none;
  color: #FFF;
  background-image: -webkit-linear-gradient(45deg, #00CC00 0%, #0099FF 100%);
  background-image: linear-gradient(45deg, #00CC00 0%, #0099FF 100%);
  transition: .4s;
  margin: 15px;
}

.submit:hover {
  margin: 15px;
  background-image: -webkit-linear-gradient(45deg, #00CC00 0%, #0066FF 100%);
  background-image: linear-gradient(45deg, #00CC00 0%, #0066FF 100%);
}
