<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <meta name='keywords' content=''>
  <meta name='description' content="">
  <meta name='viewport' content="width=device-width, initial-scale=1.0">
  <meta http-equiv="refresh" content="10;URL=http://localhost:8080/info">
  <link rel="shortcut icon" href="static/img/twitter.png">
  <link rel="stylesheet" href="static/css/check.css">

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
  <script type="text/javascript" src="static/js/common.js"></script>

  <title>Tukutter</title>

</head>
<body>

  <div class='main'>

    <img src="static/img/test.png" alt="">
    <div class='load'>
      <img src="static/img/ajax-loader.gif" alt="">
    </div>
    <div class='info'>
      <p>しばらくおまちください。</p>
      <p>支払処理を行なっております。</p>
    </div>
  </div>

</body>
</html>
