<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <meta name='keywords' content=''>
  <meta name='description' content="">
  <meta name='viewport' content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="static/img/twitter.png">

  <link rel="stylesheet" media='screen and (min-width:0) and (max-width:375px)' href="static/css/follower_sp.css">
  <link rel="stylesheet" media='screen and (min-width:376px) and (max-width:768px)' href="static/css/follower_pad.css">
  <link rel="stylesheet" media='screen and (min-width:769px)' href="static/css/follower.css">

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
  <script type="text/javascript" src="static/js/common.js"></script>

  <title>Tukutter</title>

</head>


<body>

  <header>

    {% for test in tests%}
    <div class="profile">
      <a href="/pro"><img src="{{test[1]}}" alt="プロフィール"></a>
      <a href="/tukutter" class='tukutter'><img src="static/img/test.png" alt="" style="margin-top: 20px;"></a>
      <p>{{test[0]}}</p>

      <div class="back">
        <a href="javascript:history.back();"><input type="submit" value="戻る" /></a>
      </div>

    </div>
    {% endfor %}
    <div class="nav">

      <ul class="nl clearFix">
        <li><a href="/tukutter">TOP</a></li>
        <li><a href="/search">検索</a></li>
        <li><a href="/tweet">つぶやく</a></li>
        <li><a href="/oki">お気に入り</a></li>
        <li><a href="/logout">ログアウト</a></li>
      </ul>
  </header>

  {% if count > 1 %}
   <div class='sub'>
    <div class=erra><img src="static/img/oki.png">
      <p>{{com}}</p>
    </div>
   </div>
  {% endif %}

    {% for pro in pros %}
    <div class="profilecard">
      <div class="profile-header">
        <a href="/pro/{{pro[3]}}"><img src="{{pro[1]}}" alt=""></a>

        <p><span class="user-name">{{pro[0]}}</span></p>
      </div>

      <div class="profile-content">
        <p>{{pro[2]}}</p>
      </div>
      <a href="/follower/delete/{{pro[3]}}" class="square_btn">フォロー外す</a>
    </div>
    {% endfor %}

    <footer>
      <div class='info'>
        <img src="static/img/test.png" alt="＠Tukutter株式会社" class="test" >
        <img src="static/img/footer.png" alt="" class="world" >
        <h2>Tukutter@つぶやきで世界は繋がる</h2>
      </div>
      <p class='company'>＠株式会社Tukutter</p>
    </footer>

</body>
</html>
