<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <meta name='keywords' content=''>
  <meta name='description' content="">
  <meta name='viewport' content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" media='screen' href="static/css/pro.css">

  <link rel="stylesheet" media='screen and min-width:1024px)' href="static/css/pro.css">
  <link rel="stylesheet" media='screen and max-width:1023px)' href="static/css/pro.css">

</head>

<body>
  {% block body %}<!-- 内容が入る--> {% endblock %}
</body>
</html>
