<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <meta name='keywords' content=''>
  <meta name='description' content="">
  <meta name='viewport' content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="static/img/twitter.png">

  <link rel="stylesheet" media='screen and (min-width:0) and (max-width:375px)' href="static/css/login_sp.css">
  <link rel="stylesheet" media='screen and (min-width:376px) and (max-width:768px)' href="static/css/login_pad.css">
  <link rel="stylesheet" media='screen and (min-width:769px)' href="static/css/login.css">


  <title>Tukutter</title>

</head>

<body>
  <div id="form">
    <p class="form-title">Login</p>
    <img src="static/img/twitter.png" alt="イメージ画像" width="100" height="100">

    <div class='error'>
      <div class='error_log'>
        <p>{{error_log}}</p>
        <p>{{error_pas}}</p>
      </div>
    </div>
    <div class='error'>
      <div class='error_login'>
        <p>{{error_login}}</p>
      </div>
    </div>

    <form action="/login" method="POST">
      <p>ログインID</p>
      <p class="login"><input type="text" name="log_id" maxlength="32" autocomplete="OFF" /></p>
      <p>パスワード</p>
      <p class="password"><input type="password" name="passwd" maxlength="32" autocomplete="OFF" /></p>
      <p class="submit"><input type="submit" value="Login" /></p>
      <hr>
    </form>

      <a href="/yuryou"><p class="submit"><input type="submit" value="アカウントがない人は登録" /></p></a>

  </div>
</body>

</html>
