<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <meta name='keywords' content=''>
    <meta name='description' content="">
    <meta name='viewport' content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="static/img/twitter.png">

    <link rel="stylesheet" media='screen and (min-width:0) and (max-width:375px)' href="static/css/new_sp.css">
    <link rel="stylesheet" media='screen and (min-width:376px) and (max-width:768px)' href="static/css/new_pad.css">
    <link rel="stylesheet" media='screen and (min-width:769px)' href="static/css/new.css">


    <title>Tukutter</title>

</head>
<body>
<div id="form">
    <p class="form-title">ユーザー登録画面</p>
    <form action="/new" method="POST" enctype="multipart/form-data">
        <div class="error">{{error}}</div>
        <div class='log_error'>{{log_error}}</div>
        <p>ログインID</p>
        <p class="username"><input type="text" name="log_id" maxlength="32" autocomplete="OFF" /></p>
        <p>パスワード</p>
        <p class="password"><input type="password" name="passwd" maxlength="32" autocomplete="OFF" /></p>
        <p>名前</p>
        <p class='user_name'><input type="text" name='user_name' maxlength="32" autocomplete="OFF" /></p>
        <p>プロフィール画像</p>
        <p class='profile_img'><img src="static/img/profile.png" alt="プロフィール画像">
        <input id="img_file" class="file" type="file" name="img_file" value="画像選択"></p>
        <p class="submit">
          <input type="submit" value="Login" />
        </p>
        <hr>
    </form>
    <p class="back">
      <a href="/login"><input type="submit" value=" Login画面" /></a>
    </p>
</div>

</body>
</html>
