<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <meta name='keywords' content=''>
  <meta name='description' content="">
  <meta name='viewport' content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="static/img/twitter.png">

  <link rel="stylesheet" media='screen and (min-width:0) and (max-width:375px)' href="static/css/oki_sp.css">
  <link rel="stylesheet" media='screen and (min-width:376px) and (max-width:768px)' href="static/css/oki_pad.css">
  <link rel="stylesheet" media='screen and (min-width:769px)' href="static/css/oki.css">

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
  <script type="text/javascript" src="static/js/common.js"></script>

  <title>Tukutter</title>

</head>


<body>
  {% for tests in test %}
  <header>
    <div class="profile">
      <a href="/pro"><img src="{{tests[1]}}" alt="プロフィール"></a>
      <a href="/" class='tukutter'><img src="static/img/test.png" alt="" style="margin-top: 20px;"></a>
      <p>{{tests[0]}}</p>
    </div>
  {% endfor %}
    <div class="nav">

      <ul class="nl clearFix">
        <li><a href="/">TOP</a></li>
        <li><a href="/search">検索</a></li>
        <li><a href="/tweet">つぶやく</a></li>
        <li><a href="/oki">お気に入り</a></li>
        <li><a href="/logout">ログアウト</a></li>
      </ul>

    </div>

  </header>
{% if count > 1 %}
 <div class='sub'>
  <div class=erra><img src="static/img/oki_img.png">
    <p>{{com}}</p>
  </div>
 </div>
{% endif %}

{% for oki in okis %}
 <div class="stream">
  <div class="content">
    <div class="stream-header">
      <a href="/pro/{{oki[5]}}"><img src="{{oki[2]}}" alt=""></a>
      <p>
        <span class="tweet-time">{{oki[4]}}</span>
        <span class="user-name">{{oki[1]}}</span>
      </p>
    </div>
    <div class="inline">
      <div class="stream-content">
        <p>{{oki[3]}}</p>
      </div>
      <div class="stream-footer">
        <div class="favorite">
          <a href="/delete/{{oki[0]}}"><img src="static/img/fab_out.png" alt=""></a>
        </div>
      </div>
    </div>
  </div>
</div>

 {% endfor %}

 <footer>
     <div id="top_scroll">
       <a href="#" id="page-top1"><img src="static/img/logo.png" alt="ページトップスクロール"></a>
     </div>
 </footer>

</body>
</html>
