<!DOCTYPE>
<html>
<head>
  <meta charset="utf-8">
  <meta name='keywords' content=''>
  <meta name='description' content="">
  <meta name='viewport' content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="static/img/twitter.png">
  <link rel="stylesheet" href="static/css/remake.css">

  <title>Tukutter</title>

</head>
<body>
  <div class='main'>
    <img src="static/img/test.png" alt="">
    <div>
      <form action="/remake" method='POST' class='content'>
        <div class='check'>
          <p class='text'>新規パスワード作成</p>
          <p class='text_top'>ログインIDを確認しました。<br>下記に新しいパスワードを入力してください。</p>
          <hr>
        <div class='passwd_content'>
          <div class='error'>
            <p>{{error}}</p>
          </div>
          <p class='passwd_text'>パスワード</p>
          <p class='passwd'><input type="password" maxlength='32' name='passwd' autocomplete='OFF'></p>
          <p class='passwd_again_text'>パスワード確認</p>
          <p class='passwd_again'><input type="password" maxlength='32' name='passwd_again' autocomplete='OFF'></p>
        </div>
        <p class="submit"><input type="submit" value="ログイン画面" ></p>
       </div>
      </form>
    </div>
  </div>

  <footer>
    <div class='info'>
      <img src="static/img/test.png" alt="＠Tukutter株式会社" class="test" >
      <img src="static/img/footer.png" alt="" class="world" >
      <h2>Tukutter@つぶやきで世界は繋がる</h2>
    </div>
    <p class='company'>＠株式会社Tukutter</p>
  </footer>

</body>
</html>
