<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <meta name='keywords' content=''>
  <meta name='description' content="">
  <meta name='viewport' content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="static/img/twitter.png">

  <link rel="stylesheet" media='screen and (min-width:0) and (max-width:375px)' href="static/css/search_sp.css">
  <link rel="stylesheet" media='screen and (min-width:376px) and (max-width:768px)' href="static/css/search_pad.css">
  <link rel="stylesheet" media='screen and (min-width:769px)' href="static/css/search.css">

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
  <script type="text/javascript" src="static/js/common.js"></script>

  <title>Tukutter</title>

</head>

<body>
  <header>
    {% for view in views%}
    <div class="profile">
      <a href="pro"><img src="{{view[1]}}" alt="プロフィール"></a>
      <p>{{view[0]}}</p>
    </div>
    {% endfor %}
    <div class="nav">

      <ul class="nl clearFix">
        <li><a href="/">TOP</a></li>
        <li><a href="/search">検索</a></li>
        <li><a href="/tweet">つぶやく</a></li>
        <li><a href="/oki">お気に入り</a></li>
        <li><a href="/logout">ログアウト</a></li>
      </ul>
  </header>
 <div class='content'>
  <form action="/search" name="search" method="POST">
    <dl class="search_box">
      <dt><input type="text" name="search"  placeholder="キーワード検索" /></dt>
      <dd><button><span></span></button></dd>
    </dl>
  </form>

  </div>

  <div class='erra'>{{test}}</div>



  {% for myrow in rows %}

  <div class="stream">

    <div class="content">
      <div class="stream-header">
        <a href="/pro/{{myrow[4]}}"><img src="{{myrow[3]}}" alt=""></a>
        <p>
          <span class="user-name" name="name">{{myrow[2]}}</span>
          <span class="tweet-time" name="time">{{myrow[1]}}</span>
        </p>
      </div>
      <div class="inline">
        <div class="stream-content">

          <p name="comment">{{myrow[0]}}</p>

          <div class="stream-footer">
            <div class="favorite">
              <a href="/oki/{{myrow[4]}}"><img src="static/img/logo-pic.png" alt=""></a>
            </div>
        </div>
       </div>
      </div>
    </div>
  </div>

  <footer>
      <div id="top_scroll">
        <a href="#" id="page-top1"><img src="static/img/logo.png" alt="ページトップスクロール"></a>
      </div>
  </footer>

  {% endfor %}


</body>

</html>
