<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <meta name='keywords' content=''>
  <meta name='description' content="">
  <meta name='viewport' content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" media='screen and (min-width:0) and (max-width:375px)' href="static/css/top_sp.css">
  <link rel="stylesheet" media='screen and (min-width:376px) and (max-width:768px)' href="static/css/top_pad.css">
  <link rel="stylesheet" media='screen and (min-width:769px)' href="static/css/top.css">

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
  <script type="text/javascript" src="static/js/common.js"></script>



  <title>tukutter</title>

</head>

<body>
  {% for top in tops %}
  <header>
    <div class="profile">
      <a href="/pro"><img src="{{top[1]}}" alt="プロフィール"></a>
      <p>{{top[0]}}</p>
    </div>
  {% endfor %}
    <div class="nav">

      <ul class="nl clearFix">
        <li><a href="/">TOP</a></li>
        <li><a href="/search">検索</a></li>
        <li><a href="/tweet">つぶやく</a></li>
        <li><a href="/oki">お気に入り</a></li>
        <li><a href="/logout">ログアウト</a></li>
      </ul>
  </header>

  </div>
  {% for row in rows %}
  <div class="stream">
    <div class="content">
      <div class="stream-header">
        <a href="/pro/{{row[5]}}"><img src="{{row[4]}}" alt=""></a>
        <p>
          <span class="tweet-time">{{row[1]}}</span>
          <span class="user-name">{{row[3]}}</span>
        </p>

      </div>
      <div class="inline">
        <div class="stream-content">
          <p>{{row[2]}}</p>
           <div class="stream-footer">
             <div class="favorite" name='oki'>
               <a href="/oki/{{row[0]}}"><img src="static/img/logo-pic.png" alt=""></a>
               <a href="/follow/{{row[5]}}" class="square_btn">フォローする</a>
             </div>

           </div>
        </div>
      </div>
    </div>
   </div>

   <footer>
       <div id="top_scroll">
         <a href="#" id="page-top1"><img src="static/img/logo.png" alt="ページトップスクロール"></a>
       </div>
   </footer>

    {% endfor %}

</body>

</html>
