<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <meta name='keywords' content=''>
  <meta name='description' content="">
  <meta name='viewport' content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="static/img/twitter.png">
  <link rel="stylesheet" href="static/css/yuryou.css">

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
  <script type="text/javascript" src="static/js/common.js"></script>

    <title>Tukutter</title>

</head>
<body>

  <div class='content'>
    <img src="static/img/test.png" alt="" class='test'>
    <div class='main'>
      <section class='main-content'>
        <div class='contener'>
          <h1><p class='plans'>Tukutterは有料会員限定のアプリです</p></h1>
          <p>このアプリをご利用いただくために、有料会員に登録してください。<br>
             支払後に会員登録を行うことができます。<br>
             登録のために500円支払っていただきます。<br>
             ※クレジットカードでのみ支払可能。
          </p>
        </div>
      </section>
      <div class='pay_img'>
        <img src="static/img/yuryou.png" alt="">
      </div>
      <div>
        <p class='link'>
          <a href="/pay" class='submit'>新規登録</a>
          <a href="/login" class='submit'>Login画面へ戻る</a>
        </p>
      </div>
    </div>
  </div>

</body>
</html>
